.networkStyle {
  position: absolute;
  top: 4rem;
  right: 1rem;
  border-radius: 1rem;
  padding: 0.4rem 0.6rem;
  transition: all 0.3s ease-in;
  z-index: 222;
  cursor: pointer;
  background-color: #1c58c8;
}

.BridgeNetworkStyle {
  width: 9rem;
  position: absolute;
  margin: 0.8rem;
  /* top: 160px; */
  margin-left: 0.3rem;
  /* top: 0.5rem; */
  /* right: 0.5rem; */
  border-radius: 1rem;
  padding: 0.2rem 0.3rem;
  transition: all 0.3s ease-in;
  /* z-index: 222; */
  cursor: pointer;
  background-color: #c8551c;
}

/* .selectField {
  height: 40px;
} */
.linkBox {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  border-radius: 1rem;
  padding: 0.5rem;
  overflow: hidden;
}
.linkBox:hover {
  background-color: rgb(7, 131, 225);
}
